.Message {
  position: absolute;
  top: 6rem;
  left: 50%;
}
  .MessageContent {
    background: #6998DD;
    border: 1px solid white;
    color: white;
    margin-left: -50%;
    padding: 2rem;
    width: 500px;
  }